html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: black;
}

h1 {
  font-size: 5rem;
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #fff;
  margin: 0rem 5rem 0rem 5rem;
  margin-bottom: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.site-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-body {
  max-width: 100rem;
}

.navigation-container {
  position: fixed;
  z-index: 10;
  display: flex;
  height: 8rem;
  width: 100%;
  align-items: center;
  justify-content: center;

  background-color: rgba(200, 100, 230, 0.5);
  color: white;
  font-size: 1.8rem;
  font-weight: 80;
  will-change: transform, opacity;
  font-family: "Share Tech Mono", monospace;
  user-select: none;
}

.navigation {
  width: 100rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__items {
  display: flex;
}

.navigation__items > div {
  gap: 2rem;
  padding-left: 3rem;
}
